PORT=5000
NODE_ENV=development

DATABASE_URL=mysql://user:password@host:port/dbname

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173,https://your-vercel-app.vercel.app

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=YourSecurePassword@123
ADMIN_USERNAME=Admin

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
